
body{
    background-image: url(../images/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.header {
    padding: 370px 0;
}

.container {
    max-width: calc(1180px + 10px);
    padding: 0 10px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-btn {
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    width: 155px;
    height: 56px;
    overflow: hidden;
    border: none;
    color: #fff;
    background: none;
    position: relative;
    padding-bottom: 2em;
    cursor: pointer;
}

.header-btn>div,
.header-btn>svg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.header-btn:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: currentColor;
    transition: transform 0.25s ease-out;
}

.header-btn:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header-btn .clone>*,
.header-btn .text>* {
    opacity: 1;
    font-size: 1.3rem;
    transition: 0.2s;
    margin-left: 4px;
}

.header-btn .clone>* {
    transform: translateY(60px);
}

.header-btn:hover .clone>* {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button:hover .text>* {
    opacity: 1;
    transform: translateY(-60px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.header-btn:hover .clone> :nth-child(1) {
    transition-delay: 0.15s;
}

.header-btn:hover .clone> :nth-child(2) {
    transition-delay: 0.2s;
}

.header-btn:hover .clone> :nth-child(3) {
    transition-delay: 0.25s;
}

.header-btn:hover .clone> :nth-child(4) {
    transition-delay: 0.3s;
}

/* icon style and hover */
.header-btn svg {
    width: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-50deg);
    transition: 0.2s ease-out;
}

.header-btn:hover svg {
    transform: translateY(-50%) rotate(-90deg);
}

.info{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: #47322D;
}